:host {
  display: block;
  z-index: 3;
}

#head {
  background-image: linear-gradient(to right, rgba(219,165,255), rgba(227,255,194,1));
  color: black;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;

  .user-info {
    display: flex;
    align-items: center;
    span {
      margin-right: 0.5rem;
    }
    mat-icon {
      transform: scale(1.4);
    }
  }
}
