:host {
  display: flex;
  width: 80%;
  margin: 3rem auto 0;
  justify-content: space-around;
}

#button1 {
  color: whitesmoke;
  background-color: rgb(44, 8, 8);
  margin-bottom: 12px;
}

.add-category {
  height: max-content;
  width: max-content;
  align-items: center;
  mat-card-content {
    padding-top: 0.5rem;
    margin: 0;

    mat-form-field {
      font-size: 1.2rem;
    }
  }
  mat-card-actions {
    button {
      width: 100%;
    }
  }
}
