:host {
  display: block;
  width: 50%;
  margin: 3rem auto 0;
}

mat-card {
  width: 300px;
  align-items: center;
  mat-card-content {
    margin: 0;
    display: grid;

    h1 {
      text-align: center;
    }
  }
  
  mat-card-actions {
    button {
      width: 100%;
      /* background-color: rgba($color: #fff, $alpha: 0.1); */
    }
  }
}
#button1 {
  color: whitesmoke;
  background-color: rgb(44, 8, 8);
  margin-bottom: 12px;
}