html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}

* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }